@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="starfield-container">
    <canvas id="starfield"></canvas>
    <div class="error-message">
        <h3>an error occurred</h3>
        <p>sorry about that. <a href="/">go home</a></p>
        @if (Model.ShowRequestId)
        {
            <p>
                <span>Request ID:</span> <code>@Model.RequestId</code>
            </p>
        }
    </div>
</div>

@section Scripts {
    @* <script src="~/js/starfield.js" type="module"></script> *@
}

@section Styles {
    <link rel="stylesheet" href="~/css/error.css" />
}
