*.DS_Store
.idea
Sandbox
scripts/
bin/
obj/
publish/
appsettings.Development.json

# Node / TypeScript
node_modules/
.npm-cache/
wwwroot/js/**/*.js
wwwroot/js/**/*.map
wwwroot/dist/**/*.map

# Generated JS files
ExternalApps/NameTrace/NameTrace.Web/wwwroot/dist/js/nametrace.js
ExternalApps/RealityCheck/RealityCheck.Web/wwwroot/dist/js/realitycheck.js
