[submodule "Submodules/NameTrace"]
	path = Submodules/NameTrace
	url = https://github.com/brandonkthomas/NameTrace.git
	branch = main
[submodule "Submodules/RealityCheck"]
	path = Submodules/RealityCheck
	url = https://github.com/brandonkthomas/RealityCheck.git
	branch = main
[submodule "Submodules/ImageHexEditor"]
	path = Submodules/ImageHexEditor
	url = https://github.com/brandonkthomas/ImageHexEditor.git
	branch = main
[submodule "Submodules/WebAmp"]
	path = Submodules/WebAmp
	url = /Users/brandonthomas/SynologyDrive/Development/Projects/Web/WebAmp
