[submodule "ExternalApps/NameTrace"]
	path = ExternalApps/NameTrace
	url = https://github.com/brandonkthomas/NameTrace.git
	branch = main
[submodule "ExternalApps/RealityCheck"]
	path = ExternalApps/RealityCheck
	url = https://github.com/brandonkthomas/RealityCheck.git
	branch = main
[submodule "ExternalApps/ImageHexEditor"]
	path = ExternalApps/ImageHexEditor
	url = https://github.com/brandonkthomas/ImageHexEditor.git
	branch = main
