@{
    ViewData["Title"] = "Home";
}

<div class="starfield-container">
    <canvas id="starfield"></canvas>
    <div class="card-container">
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="~/images/card-front.png" alt="Portfolio Card Front" />
                </div>
                <div class="card-back">
                    <img src="~/images/card-back.png" alt="Portfolio Card Back" />
                </div>
            </div>
        </div>
    </div>
</div>
