@{
    ViewData["Title"] = "Home";
}

<div class="starfield-container">
    <canvas id="starfield"></canvas>
    <div class="card-container"></div>
</div>

@section Scripts {
    <script src="~/js/card.js" type="module"></script>
}
