@{
    ViewData["Title"] = "Home";
}

<div class="starfield-container">
    <canvas id="starfield"></canvas>
    <div class="card-container"></div>
    <div class="tap-indicator">
        <svg class="tap-cursor" width="1200" height="1200" viewBox="-100 -100 1200 1200" xmlns="http://www.w3.org/2000/svg">
            <g id="tap-cursor-g">
                <path id="tap-cursor-main" fill="#ffffff" fill-rule="evenodd" stroke="#ffffff" stroke-width="8.020222" stroke-linecap="round" stroke-linejoin="round" d="M 495.492004 947.030762 C 495.492004 947.030762 272.89856 358.173096 268.252411 345.51416 C 265.404083 337.753601 252.394547 303.549194 281.747925 274.087708 C 326.617706 229.052856 394.921173 272.96283 408.231537 278.183228 C 942.278687 487.638794 949.971191 487.204773 949.971191 487.204773 C 949.971191 487.204773 990.802002 502.107574 990.824768 541.715942 C 990.856812 597.452759 947.288635 606.97583 947.288635 606.97583 L 695.410217 684.743225 L 613.09436 949.554321 C 613.09436 949.554321 590.97113 986.369446 552.365356 983.251587 C 510.646881 979.882446 495.492004 947.030762 495.492004 947.030762 Z"/>
                <g id="tap-cursor-clickrays">
                    <circle id="rr1" cx="298" cy="325" r="60" fill="#ffffff"/>
                    <circle id="rr2" cx="298" cy="325" r="60" fill="#ffffff"/>
                    <circle id="rr3" cx="298" cy="325" r="60" fill="#ffffff"/>
                </g>
            </g>
        </svg>
    </div>
</div>

@section Scripts {
    <script src="~/js/card.js" type="module"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/card-cta.css" />
}
