@{
    ViewData["Title"] = "Home";
}

<div class="starfield-container">
    <canvas id="starfield"></canvas>
    <div class="card-container"></div>
    <div class="photo-gallery-container"></div>
    <div class="tap-indicator desktop">
        <img src="~/assets/svg/tap-indicator-desktop.svg" alt="Tap indicator" />
    </div>
    <div class="tap-indicator mobile">
        <img src="~/assets/svg/tap-indicator-mobile.svg" alt="Tap indicator" />
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/card.js" type="module"></script>
    </environment>
    <environment exclude="Development">
        @inject Portfolio.Services.IAssetManifest AssetManifest
        <script src="@AssetManifest.GetAssetPath("card.js")" type="module"></script>
    </environment>
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cardCta.css" asp-append-version="true" />
}
