@{
    ViewData["Title"] = "Home";
}

<!-- Main container for the home page -->
<!-- BT 2025-10-31: moving these SVGs to standalone files rather than inline breaks styling... todo -->
<div class="starfield-container">
    <canvas id="starfield"></canvas>
    <div class="card-container"></div>
    <div class="photo-gallery-container"></div>
    <div class="projects-container"></div>
    <div class="tap-indicator desktop">
        <svg class="tap-cursor" width="48" height="48" viewBox="-100 -100 1200 1200" xmlns="http://www.w3.org/2000/svg">
            <g id="tap-cursor-g">
                <path id="tap-cursor-main" fill="#ffffff" fill-rule="evenodd" stroke="#ffffff" stroke-width="8.020222" stroke-linecap="round" stroke-linejoin="round" d="M 495.492004 947.030762 C 495.492004 947.030762 272.89856 358.173096 268.252411 345.51416 C 265.404083 337.753601 252.394547 303.549194 281.747925 274.087708 C 326.617706 229.052856 394.921173 272.96283 408.231537 278.183228 C 942.278687 487.638794 949.971191 487.204773 949.971191 487.204773 C 949.971191 487.204773 990.802002 502.107574 990.824768 541.715942 C 990.856812 597.452759 947.288635 606.97583 947.288635 606.97583 L 695.410217 684.743225 L 613.09436 949.554321 C 613.09436 949.554321 590.97113 986.369446 552.365356 983.251587 C 510.646881 979.882446 495.492004 947.030762 495.492004 947.030762 Z"/>
                <g id="tap-cursor-clickrays">
                    <circle id="rr1" cx="298" cy="325" r="60" fill="#ffffff"/>
                    <circle id="rr2" cx="298" cy="325" r="60" fill="#ffffff"/>
                    <circle id="rr3" cx="298" cy="325" r="60" fill="#ffffff"/>
                </g>
            </g>
        </svg>
    </div>
    <div class="tap-indicator mobile">
        <svg class="tap-cursor" width="48" height="48" viewBox="-100 -100 1200 1200" xmlns="http://www.w3.org/2000/svg">
            <g id="tap-cursor-g">
                <path id="tap-cursor-main" fill="#ffffff" stroke="none" d="M 747.902527 325.328064 C 724.05542 337.388672 710.967163 362.679138 712.30011 387.862854 L 709.730042 382.939331 C 693.888184 352.589233 657.317566 339.465698 627.319702 355.853027 C 596.279175 372.815186 584.362793 412.662537 600.637756 443.84259 L 593.585999 430.332764 C 577.744263 399.982666 541.165283 386.85675 511.175781 403.24646 C 480.135254 420.208618 468.218781 460.056274 484.485535 491.233643 L 376.688232 284.714539 C 360.846405 254.364441 324.275757 241.240967 294.278015 257.628235 C 263.237427 274.590393 251.320969 314.438049 267.595947 345.617798 L 431.004211 658.67749 C 387.400787 640.984009 340.521271 631.979919 293.269073 632.593323 C 283.52597 632.718506 273.864807 635.425293 265.314758 640.435913 C 242.518341 653.794922 230.124481 681.561279 236.661179 708.86084 C 243.086838 735.705444 267.554077 752.649353 294.26123 752.574341 C 402.980042 752.272522 493.553162 834.24939 572.429443 901.118713 C 610.355164 933.272339 693.293274 981.332642 803.614563 916.682007 L 868.547546 878.629639 C 1016.159607 792.125977 961.711121 608.526978 944.540894 575.632202 L 937.830078 562.775024 L 853.168884 400.580261 L 828.427185 353.179871 C 812.946777 323.535522 777.639221 310.285889 747.902527 325.328064 Z"/>
                <g id="tap-cursor-clickrays">
                    <circle id="rr1" cx="298" cy="325" r="60" fill="#ffffff"/>
                    <circle id="rr2" cx="298" cy="325" r="60" fill="#ffffff"/>
                    <circle id="rr3" cx="298" cy="325" r="60" fill="#ffffff"/>
                </g>
            </g>
        </svg>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/card.js" type="module"></script>
    </environment>
    <environment exclude="Development">
        @inject Portfolio.Services.IAssetManifest AssetManifest
        <script src="@AssetManifest.GetAssetPath("card.js")" type="module"></script>
    </environment>
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cardCta.css" asp-append-version="true" />
}
