/*
    gradNoiseCanvas.css - Gradient noise canvas background styles
*/

/* GradNoiseCanvas container */
.gnc-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gnc {
    background-color: #242424;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Initial state loading styles */
#gnc.gnc-initial {
    opacity: 0;
    transform: scale(1.05);
}

#gnc.gnc-initial--enter {
    opacity: 1;
    transform: scale(1);
}
