/*
    loadingOverlay.css
    Shared loading overlay inner element styles
*/

.loading-overlay img {
    width: 80px;
    height: auto;
    filter: invert(1);
}

.loading-overlay .loading-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-overlay img.loading-throbber {
    position: absolute;
    top: calc(55% + 64px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
}
