/*
    index.css
*/

/* Card container */
.card-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    filter: blur(0px);
    transition: /* squeeze and fade/blur -- used when transitioning to different views (photo) */
        opacity 0.33s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.33s cubic-bezier(0.4, 0, 0.2, 1),
        filter 0.33s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Initial state loading styles */
.card-container.card-initial {
    opacity: 0;
    transform: scale(0.85);
    filter: blur(20px);
}

.card-container.card-initial--enter {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
    transition-duration: 0.15s;
}

/* squeeze and fade/blur -- used when transitioning to different views (photo) */
.card-container.hidden {
    opacity: 0;
    transform: scale(0.85);
    filter: blur(20px);
    pointer-events: none;
}

/* Ensure Three.js canvas takes full container space */
.card-container canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
