/*
    starfield.css - Starfield background styles
*/

/* Starfield container */
.starfield-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#starfield {
    background-color: #1c1c1c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
