<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1a1a1a">

    <meta name="apple-mobile-web-app-title" content="Brandon Thomas">
    <meta name="description" content="Brandon Thomas - portfolio, projects, contact info" />
    
    <title>Brandon Thomas</title>

    <link rel="stylesheet" href="~/css/common.css" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" />

    <link rel="icon" href="~/assets/icons/favicon.ico" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/icons/apple-touch-icon.png" asp-append-version="true" />
    <link rel="mask-icon" href="~/assets/meta/safari-pinned-tab.svg" color="#1a1a1a" asp-append-version="true">
    
    <meta property="og:title" content="Brandon Thomas" />
    <meta property="og:description" content="Full-stack developer portfolio of Brandon Thomas." />
    <meta property="og:image" content="~/assets/meta/card-front-opengraph.png" />
    <meta property="og:url" content="https://brandonthomas.net/" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
</head>
<body>
    <div class="url-display">
        <div>
            <span class="url-base">brandonthomas.net</span><span class="url-path">/</span>
        </div>
        <div class="url-paths">
            @* <a href="/" class="url-path-option">home</a> *@
            @* <a href="/projects" class="url-path-option">projects</a>
            <a href="/contact" class="url-path-option">contact</a> *@
            <a href="https://github.com/brandonkthomas" class="url-path-option url-external">github</a>
            <a href="https://linkedin.com/in/brandonkthomas" class="url-path-option url-external">linkedin</a>
            <a href="mailto:me@brandonthomas.net" class="url-path-option url-external">contact</a>
        </div>
    </div>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/js/common.js" type="module"></script>
    <script src="~/js/starfield.js" type="module"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</body>
</html>
