<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brandon Thomas</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
</head>
<body>
    <div class="url-display">
        <div>
            <span class="url-base">brandonthomas.net</span><span class="url-path">/</span>
        </div>
        <div class="url-paths">
            <a href="/" class="url-path-option">home</a>
            @* <a href="/projects" class="url-path-option">projects</a>
            <a href="/contact" class="url-path-option">contact</a> *@
            <a href="https://linkedin.com/in/brandonkthomas" class="url-path-option url-external">linkedin</a>
        </div>
    </div>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/js/site.js"></script>
    <script src="~/js/starfield.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
